<section>
<div class="message sticky">
  <p>message urgent</p>
</div>
<h1>ÉVENEMENTS</h1>
            <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://i.pinimg.com/originals/2f/e1/66/2fe1661af733a73eddea842015218e60.jpg);"></div>
                </div>
                <div class="description">
                  <h2>Travis Scott</h2>
                  <p> SCENE 1 <br> Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>

                  <h2>Baby metal</h2>
                  <p> SCENE 1 <br> Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content. </p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>

                  <h2>Future</h2>
                  <p> SCENE 1 <br> Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content. </p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>

                  <h2>A$ap Rocky</h2>
                  <p> SCENE 1 <br> Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>
                </div>
              </div>
              <!-- ************************************************************************* -->
              <div class="blog-card">
                <div class="description">
                  <h2>Travis Scott</h2>
                  <p> SCENE 1 </p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>

                  <h2>Baby metal</h2>
                  <p> SCENE 1 </p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>

                  <h2>Future</h2>
                  <p> SCENE 1 </p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>

                  <h2>A$ap Rocky</h2>
                  <p> SCENE 1 </p>
                  <p class="horraire">
                    <a href="#">19h00 - 20h00 </a>
                  </p>
                </div>
                <div class="meta">
                  <div class="photo" style="background-image: url(https://images.squarespace-cdn.com/content/v1/5362c4c2e4b0450fc57ff741/1487009855489-MD0ZFFRAF2Y6UD1GZ6XH/ke17ZwdGBToddI8pDm48kA_SSaoz4elkj-HsZd8gX3Z7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UWPwZyNcweDIvdeL5kotwkIXjs9g0WibSO_cU-Ijy4Pwg6poS-6WGGnXqDacZer4yQ/Ultra.jpg?format=2500w);"></div>
                </div>
              </div>
  </section>