@import "variables";
@import "mixins";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  background-image: url(../img/background-site.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
}

h2 {
  color: $primary-color;
}

h4 {
  color: $primary-color;
}
.btn,
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}
.btn:hover {
  background-color: $danger-color !important;
  border-color: $danger-color !important;
}
a:hover {
  text-decoration: none;
}
    h1 {
      color: $white;
      padding-left: 50px;
      padding-top: 94px;
      
    }
    #photo-bckg {
      background-image: url(../img/150-1504752_ultra-miami-set-times-ultra-music-festival-2011.jpg);
      background-size: cover;
      background-position: center;
      
    }