<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text">Live Events</h5>
        <p>évènementiel - tournées - promotion</p>
        <p>
          <fa-icon class="p-2" [icon]="faTwitter"></fa-icon>
          <fa-icon class="p-2" [icon]="faFacebook"></fa-icon>
          <fa-icon class="p-2" [icon]="faLinkedin"></fa-icon>
          <fa-icon class="p-2" [icon]="faYoutube"></fa-icon>
          <fa-icon class="p-2" [icon]="faInstagram"></fa-icon>
          <fa-icon class="p-2" [icon]="faSnapchat"></fa-icon>
        </p>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text mb-0">Liens utiles</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-dark">Accueil</a>
          </li>
          <li>
            <a href="#" class="text-dark">Evenements</a>
          </li>
          <li>
            <a href="#" class="text-dark">Billeterie</a>
          </li>
          <li>
            <a href="#" class="text-dark">FAQ</a>
          </li>
          <li>
            <a href="#" class="text-dark">Mentions legales</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2020 Copyright:
    <a class="text-dark" href="#">Live Events</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
