<div class="accordion">
  <h4>Consultez la foire aux questions !</h4>
  <div class="accordion-item">
    <div class="accordion-item-header" (click)="onclick()">
      Je souhaite être bénévole, comment faire ?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Un formulaire est disponible sur notre site Internet pour vous inscrire.
        Nous sommes toujours prêt à accueillir de nouvelles personnes.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header" (click)="onclick()">
      Il y a t'il un camping sur le festival ?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Il y a un camping à proximité du festival.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header" (click)="onclick()">
      Le camping est-il payant ?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Le camping est compris dans l'achat d'un billet.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header" (click)="onclick()">
      Peut-on sortir du festival une fois entrée?
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        Oui, à l'entrée du festival nous vous donnons un bracelet vous
        permettant de vous déplacer librement selon le forfait choisi.
      </div>
    </div>
  </div>
</div>
