<section>
  <div class="message">
    <p>message urgent</p>
  </div>
</section>
<section>
  <h2>Programme de Nation Sounds</h2>
  <h4 class="px-5">1 jour:</h4>
  <div class="card center" style="width: 18rem">
    <img class="card-img-top" src="" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a (click)="navToConcert('concert')" class="btn btn-primary">Voir plus</a>
    </div>
  </div>
  <h4 class="px-5">2 jour:</h4>
  <div class="card center" style="width: 18rem">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Voir plus</a>
    </div>
  </div>
  <h4 class="px-5">3 jour:</h4>
  <div class="card center mb-3" style="width: 18rem">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Voir plus</a>
    </div>
  </div>
</section>
<section>
  <div class="billeterie">
    <h4>Billeterie</h4>
    <p>Acceder à la billeterie</p>
    <a href="#" class="btn btn-primary">Acheter un ticket</a>
  </div>
</section>
<article class="pb-3">
  <h2>Les dernières actualités</h2>
  <div class="actualites">
    <div class="card center" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Concert annulé : Vitaa</h5>
        <p class="card-text">13/07/2021</p>
        <p class="card-text">14h03</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
    <div class="card center" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Attention canicule</h5>
        <p class="card-text">13/07/2021</p>
        <p class="card-text">17h45</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
    <div class="card center" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">A ne pas oublier pour le festival</h5>
        <p class="card-text">13/07/2021</p>
        <p class="card-text">17h59</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
    <div class="card center" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Concert annulé : Vitaa</h5>
        <p class="card-text">13/07/2021</p>
        <p class="card-text">14h03</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
  </div>
</article>
<section>
  <div>
    <iframe
      width="100%"
      height="300px"
      frameborder="0"
      allowfullscreen
      src="//umap.openstreetmap.fr/fr/map/nation-sounds_556095?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"
    ></iframe>
    <p>
      <a href="//umap.openstreetmap.fr/fr/map/nation-sounds_556095"
        >Voir en plein écran</a
      >
    </p>
  </div>
</section>
