@import "src/sass/variables";

.message {
  background-color: $petit-gris;
  text-align: center;
  height: 60px;
  p {
    color: $white;
    padding: 5px;
  }
}
.center {
  margin: 0 auto;
  width: 100px;
}
.billeterie {
  background-image: url("https://cdn.pixabay.com/photo/2017/11/24/10/43/admission-2974645_1280.jpg");
  padding: 60px;
  p {
    color: $white;
  
  }
}
.actualites {
  justify-content: space-between;
  display: flex;
}

h2 {
  padding: 30px 20px 30px 40px;
}
